/* MappedPosts.module.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.postContainer {
  width: 15rem; /* 60px */
}

.postPhoto {
  aspect-ratio: 1 / 1; /* square aspect ratio */
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  gap: 0.75rem; /* 3px */
  align-items: center;
}

.avatar {
  width: 2.25rem; /* 9px */
  height: 2.25rem; /* 9px */
  object-fit: cover;
  border-radius: 9999px; /* fully rounded */
}
