@import '@/app/styles/mixins';

.modal {
  @include animation-appearance;

  width: 380px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .message {
      margin-bottom: 18px;
    }
  }
}

.btn {
  margin-left: auto;
}
