.payIconBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paymentTypeBox {
  cursor: pointer;
}

.boxStripe {
  margin-left: 54px;
}

.boxPaypal {
  margin-right: 54px;
}
