.boxStyle {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
}

.box {
  @extend %boxStyle;

  margin-top: 30px;
}

.boxBusiness {
  @extend %boxStyle;

  margin-bottom: 24px;
}

.radioRoot {
  gap: 24px;
  padding-left: 18px;
  padding-block: 12px;
}

.BusinessText {
  margin-top: 24px;
  margin-bottom: 6px;
}

.payIconBox {
  display: flex;
  align-items: center;
  justify-content: end;
}

.paymentTypeBox {
  cursor: pointer;
}

.boxStripe {
  margin-left: 54px;
}

.boxPaypal {
  margin-right: 54px;
}
