.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px;
  align-items: center;

  margin-top: 18px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
}

.boxBusiness {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
}

.radioRoot {
  gap: 12px;
  padding-left: 22px;
}

.radioRootBusiness {
  display: flex;
  gap: 12px;
  padding: 10px 0 10px 22px;
}

.BusinessText {
  margin-top: 42px;
  margin-bottom: 6px;
}

.payIconBox {
  position: fixed;
  right: 65px;
  bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: end;
}

.boxStripe {
  margin-left: 54px;
}

.boxPaypal {
  margin-right: 54px;
}

.checkBoxBox {
  display: flex;
  margin: 30px 0 17px;
}

.subscriptionDatePaymentBox {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 40px;
  margin-left: 24px;
}
