@import '@/myApp/styles/mixins';

.DialogOverlay {
  position: fixed;
  inset: 0;
  opacity: 0.3;
  background-color: var(--dark-900);
}

.card {
  position: relative;
  background-color: transparent;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: var(--dark-300);
  }
}

.DialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 85vh;

  border-radius: 6px;
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  @media (width <= 767px) {
    max-height: 100svh;
  }
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  border-bottom: 1px solid var(--dark-100);

  @media (width <= 767px) {
    margin-left: 0;
    padding: 10px;
  }
}

.DialogContent:focus {
  outline: none;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--light-100);
}

.content {
  overflow-y: auto;
  padding: 30px 24px 36px;

  @media (width <= 767px) {
    max-height: calc(100svh - 57px);
    padding: 10px;
  }
}

.closeBtn {
  @include focus-visible-default;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  padding: 0;

  font-family: inherit;
  color: var(--light-100);

  background-color: transparent;
  border: none;

  transition: opacity 0.3s ease-in-out;

  svg {
    width: 100%;
    height: 100%;

    &:hover {
      opacity: 0.7;
    }
  }

  &:focus {
    opacity: 0.7;
  }
}

.hidden {
  display: none;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
