.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: flex-start;

  padding: 35px;

  .form {
    margin: 37px 0 24px;
  }
}

.card {
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 378px;
  padding: 24px;
}

.box_Input {
  margin: 24px 0 36px;
}

.input {
  width: 330px;
  margin-bottom: 24px;
}

.input:last-child {
  margin-bottom: 0;
}

.agreement {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.errorText {
  color: var(--danger-300);
}

.link {
  margin-right: 3px;
  margin-left: 3px;
}

.button {
  margin-bottom: 18px;
}

.question {
  margin-bottom: 6px;
}

.signIn {
  cursor: pointer;

  margin-bottom: 6px;

  font-weight: 600;
  color: var(--accent-500);
  text-decoration: none;

  border: none;

  &:hover {
    border: none;
  }
}
