@import '@/myApp/styles/mixins';

.button {
  cursor: pointer;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-family: inherit;
  color: inherit;

  border: none;
  border-radius: 0.25rem;
}

.primary.sun p,
.primary.sun span {
  color: var(--dark-900);
}

.primary {
  background-color: var(--accent-500);
  background-position: center;
  transition: background 0.8s; // Добавляем плавный переход фона для ripple

  &:focus-visible {
    background: var(--accent-300);
  }

  &:hover {
    background: var(--accent-300) radial-gradient(circle, transparent 1%, var(--accent-300) 1%) center/15000%;
  }

  &:active {
    background-color: var(--accent-700);
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    color: var(--light-900);
    background: var(--accent-900);
  }
}

.secondary {
  background-color: var(--dark-500);
  background-position: center;
  transition: background 0.8s; // Добавляем плавный переход фона для ripple

  &:focus-visible {
    background: var(--dark-100);
  }

  &:hover {
    background: var(--dark-100) radial-gradient(circle, transparent 1%, var(--dark-100) 1%) center/15000%;
  }

  &:active {
    background-color: var(--dark-500);
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    color: var(--light-900);
    background: var(--dark-300);
  }
}

.fullWidth {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-align: center;
}

.outlined {
  color: var(--accent-500);

  background-color: transparent;
  background-position: center;
  border: 1px solid var(--accent-500);

  transition:
    background 0.8s,
    border 0.8s,
    color 0.8s; // Добавляем плавный переход фона для ripple

  &:focus-visible {
    border: 2px solid var(--accent-700);
  }

  &:hover {
    color: var(--accent-100);
    background: var(--dark-700) radial-gradient(circle, transparent 1%, var(--dark-700) 1%) center/15000%;
    border: 1px solid var(--accent-100);
  }

  &:active {
    background-color: var(--dark-300);
    background-size: 100%;
    transition: background 0s;
  }
}

.text {
  padding: 0;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
  }
}
