.title {
  margin-bottom: 19px;
  line-height: 36px;
  text-align: center;
}

.boxSubtitle {
  display: flex;
  justify-content: center;
}

.subtitle {
  width: 294px;
  margin-bottom: 54px;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.button {
  width: 252px;
  height: 36px;
}

.boxImg {
  display: flex;
  justify-content: center;
}
