@import '@/myApp/styles/mixins';

.container {
  @include animation-appearance(0.4s);

  box-sizing: content-box;
  max-width: 378px;
  margin: 36px auto 0;
  padding-inline: 12px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: flex-start;

    padding: 35px;

    .form {
      margin: 37px 0 24px;
    }

    .formTextfield {
      display: flex;
      flex-flow: column nowrap;
      gap: 7px;

      width: 100%;
      margin-bottom: 7px;

      label {
        line-height: initial;
      }
    }

    .information {
      margin-bottom: 17px;
      color: var(--light-900);
    }

    .signIn {
      @include focus-visible-default;

      font-size: var(--font-size-m);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-m);
      color: var(--light-100);
      text-decoration: none;
    }

    .backSignIn {
      margin-bottom: 30px;
      color: var(--accent-500);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
