@import '@/myApp/styles/mixins';

$icon-button-width: 163px;
$icon-button-height: 36px;
$flag-width: 30px;
$flag-height: 20px;
$border-dark: 1px solid var(--dark-300);
$bg-dark: var(--dark-700);
$accent-color: var(--accent-500);

.arrow {
  top: 0;
  left: -10px;
  fill: var(--dark-300);
}

.IconButton,
.boxContent {
  @include focus-visible-default;

  cursor: pointer;

  display: flex;
  align-items: center;

  width: $icon-button-width;
  height: $icon-button-height;
  padding: 6px 12px;
}

.IconButton {
  justify-content: space-between;

  background-color: $bg-dark;
  background-position: center;
  border: $border-dark;

  transition: background 0.8s; // Добавляем плавный переход фона

  &:hover,
  &[data-state='open'] {
    background: var(--dark-500) radial-gradient(circle, transparent 1%, var(--dark-500) 1%) center/15000%;
  }

  &[data-state='open'] .iconArrowDown {
    transform: rotate(180deg);
  }
}

.iconArrowDown {
  margin-left: 3px;
  transition: 0.2s;

  & path {
    fill: var(--light-700);
  }
}

.flag,
.dropItemFlag {
  width: $flag-width;
  height: $flag-height;
  object-fit: cover;
}

.DropdownMenuArrow {
  fill: $border-dark;
}

.boxContent {
  flex-direction: row;
  gap: 10px;
  border-radius: 1px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--dark-300);
  }

  &:hover,
  &:focus-visible {
    background: var(--dark-300);
  }

  &:focus-visible,
  &:hover .dropdownText,
  &:focus .dropdownText,
  &:focus-visible .dropdownText {
    color: $accent-color;
  }
}

.DropdownMenuContent {
  position: relative;
  top: -9px;

  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;

  padding: 0;

  background-color: $bg-dark;
  border: $border-dark;
  border-radius: 0;

  &:focus-visible,
  &:hover {
    background-color: $bg-dark;
  }
}
