@import '@/myApp/styles/mixins';

/* @import '../../../../node_modules/@radix-ui/colors/mauve.css'; */

.IconButton {
  @include focus-visible-default;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 163px;
  height: 36px;
  padding: 6px 12px;

  background-color: var(--dark-700);
  border: 1px solid var(--dark-300);

  &[data-state='open'] {
    .iconArrowDown {
      transform: rotate(180deg);
    }
  }
}

.iconArrowDown {
  margin-left: 3px;
  transition: 0.2s;

  & path {
    fill: var(--light-700);
  }
}

.DropdownMenuArrow {
  fill: var(--dark-300);
}

.flag {
  width: 30px;
  height: 20px;
  object-fit: cover;
  border: solid rgb(0 0 0 / 100%) 0.7px;
}

.IconButton[data-state='open'] img,
.IconButton:focus-visible img {
  box-shadow: 0 0 10px 8px rgb(137 74 255 / 50%);
}

.boxContent {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  width: 163px;
  height: 36px;

  border-radius: 1px;

  &:focus-visible {
    outline: none;
  }

  &:hover .dropdownText {
    color: var(--accent-500);
  }

  &:focus-visible .dropdownText {
    color: var(--accent-500);
  }

  &:focus .dropdownText {
    color: var(--accent-500);
  }
}

.dropItemFlag {
  width: 30px;
  height: 20px;
  object-fit: cover;
  border: solid rgb(0 0 0 / 100%) 0.7px;
}

.DropdownMenuContent {
  @include animation-appearance;

  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;

  padding: 10px;

  background-color: var(--dark-700);
  border: 1px solid var(--dark-300);
  border-radius: 6px;
}
