.boxPhoto {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background-color: var(--dark-500);
  border-radius: 50%;
}

.photo {
  border-radius: 50%;
}
