.card {
  width: 70vw;
}

.createPostModal {
  overflow: unset;
  padding: 0;
}

.notCropping {
  display: flex;
  align-items: center;

  .filtersPanel {
    width: 50%;
    height: 100%;
    padding: 10px;
  }

  .publicationPanel {
    display: grid;
    justify-content: center;

    width: 50%;
    height: 100%;
    padding: 10px;
  }

  .singlePhotoWrapper {
    display: flex;
    align-items: center;
    width: 50%;

    .singlePhoto {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.boxContent {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  min-width: 50vw;
  max-width: 60vw;
  min-height: 30vh;
  max-height: 80vh;

  // width: 700px;
  // height: 500px;

  // padding: 0 135px 60px;

  .singlePhotoWrapper {
    display: flex;
    align-items: center;
    width: 50%;

    .singlePhoto {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .croppingPanel {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;

    .ratioAndScale {
      // flex-direction: column;
      position: relative;
      display: flex;

      .ratioDialog {
        position: absolute;
        bottom: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .boxPhoto {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 222px;
    height: 228px;

    background-color: var(--dark-500);

    // border-radius: 50%;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 219px;
    margin-top: 60px;

    .customFileUpload {
      display: none;
    }

    .lable {
      padding: 6px 24px;
      background-color: var(--accent-500);
      border-radius: 2px;
    }
  }

  .draftBtn {
    padding: 6px 24px;
    border-radius: 2px;

    .draftTxt {
      color: var(--accent-500);

      &:hover {
        color: var(--accent-100);
      }
    }
  }
}

.boxErrorMessage {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.errorMessage {
  width: 397px;
  padding: 6px 24px;

  color: var(--light-100);
  text-align: center;

  background-color: var(--danger-900);
  border: 1px solid var(--danger-300);
}
