.header {
  position: sticky;
  z-index: 100;
  top: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  background-color: var(--dark-700);
  border-bottom: 1px solid var(--dark-300);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.itemsWrapper {
  display: flex;
  gap: 0 48px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
}

s.bellWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bell {
  width: 24px;
  height: 24px;
}
