.notification {
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.notification:last-child {
  border-bottom: none;
}

.notification p {
  margin: 0;
}

.new {
  font-size: 12px;
  color: #00b7ff;
}

.notification small {
  font-size: 12px;
  color: #aaa;
}
