.notification {
  position: relative;

  padding: 5px 0 0;

  line-height: 1.5; /* Устанавливаем высоту строки в 1.5 раза больше размера шрифта */
  overflow-wrap: break-word; /* или word-wrap: break-word; */

  border-top: 1px solid #444;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newBox {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px 0 0;
}

.readedNotice {
  padding: 5px 0 0;
}

.new {
  padding: 5px 0 0 5px;
  font-size: 12px;
  color: #00b7ff;
}

.closeButtonWrap {
  position: absolute;
  top: 1px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
}

.closeButton {
  cursor: pointer;

  position: relative;

  font-size: 16px;

  opacity: 0; /* Скрываем кнопку по умолчанию */
  background: none;
  border: none;

  transition: opacity 0.3s ease; /* Добавляем анимацию появления */
}

.notification:hover .closeButton {
  opacity: 1; /* Показываем кнопку при наведении */
}

.time {
  padding-bottom: 5px;
  font-size: 12px;
  color: #aaa;
}

.message {
  padding: 3px 0 0;
  line-height: inherit; /* Наследуем line-height от родительского элемента */
  overflow-wrap: inherit; /* Наследуем overflow-wrap от родительского элемента */
}

.isRead {
  color: var(--light-900);
}
