.toastContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  width: 387px;
  padding: 12px 24px;

  color: var(--light-100);

  border-radius: 2px;

  &.success {
    background: var(--success-900);
    border: 1px solid var(--success-500);
  }

  &.error {
    background: var(--danger-900);
    border: 1px solid var(--danger-500);
  }

  &.loading {
    background: var(--warning-900);
    border: 1px solid var(--warning-500);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.toastMessage {
  margin-left: 1rem;
}
