.theadStyles {
  height: 100px;
  background-color: red;
}

.colsStyles {
  width: auto;

  &:nth-child(1) {
    position: relative;
    width: 20%;
  }

  &:nth-child(2) {
    position: relative;
    width: 30%;
  }
}
