@import '../../myApp/styles/mixins';

.DropdownNotifications {
  @include animation-appearance;

  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;

  padding: 10px;

  background-color: var(--dark-700);
  border: 1px solid var(--dark-300);
  border-radius: 6px;
}

.notificationItemWrap {
  display: flex;
  flex-direction: column;

  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
