@import '../../myApp/styles/mixins';

.dropdownNotifications {
  @include focus-visible-default;

  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;

  max-height: 424px;
  padding: 10px;

  background-color: var(--dark-700);
  border: 1px solid var(--dark-300);
  border-radius: 6px;
}

.notificationItemWrap {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title {
  display: flex;
  justify-content: left;

  width: 100%;
  padding: 10px 0;

  border-bottom: 1px solid #444;
}

.msgs {
  overflow-y: auto; /* Прокрутка по вертикали */
  max-height: 350px;
}

.showMoreBtn {
  padding-top: 20px;
}
