@import '@/myApp/styles/mixins';

.container {
  position: fixed;

  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  align-items: center;
  justify-content: center;

  width: 220px;

  background-color: var(--dark-700);
  border-right: 1px solid var(--dark-300);
}

.btns {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  width: 100%;
  height: 100vh;
  padding: 60px 0 36px 60px;
}

.btn {
  @include focus-visible-default;

  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;

  width: max-content;
  padding: 0;

  color: var(--light-100);
  text-decoration: none;

  // background-color: transparent;
  // box-shadow: none;

  &:active,
  &:hover {
    // background-color: transparent;

    .icon,
    span {
      color: var(--accent-100);

      // stroke: transparent;
    }
  }

  &:active {
    .icon,
    span {
      color: var(--accent-500);
      stroke: transparent;
    }
  }

  &:hover {
    color: var(--accent-100);
    background-color: transparent;
  }

  &:focus-visible {
    background-color: transparent;

    .icon,
    span {
      color: var(--accent-100);
      stroke: transparent;
    }
  }

  &:nth-child(5) {
    margin-bottom: 36px;
  }

  &:nth-child(7) {
    margin-bottom: 180px;
  }
}

.icon {
  width: 24px;
  height: 24px;

  &.active {
    color: var(--accent-500);
    stroke: transparent;
  }
}

// .searchIcon {
//  color: var(--light-100);
//  stroke: none;
// }
