@mixin focus-visible-default {
  &:focus-visible {
    outline: 2px solid var(--success-100);
  }
}

//// Animations ////
@mixin animation-appearance($duration: 0.6s, $delay: 0s, $fill-mode: both) {
  @keyframes fade-in {
    from {
      opacity: 0.2;
    }

    to {
      opacity: 1;
    }
  }

  animation: fade-in $duration $delay $fill-mode;
}

@mixin slide-up-to-down($duration: 0.2s, $delay: 0s, $fill-mode: both) {
  @keyframes slide-up-to-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  animation: slide-up-to-down $duration $delay $fill-mode;
}

/**
 * /// Modal createPost height ///
 */
@mixin create-post-modal-height {
  // height: 54vh;
  height: 55vh;
}

@mixin create-post-modal-card-width {
  // height: 54vh;
  width: 70vw;
}

@mixin create-post-min-max-modal-width {
  min-width: 50vw;
  max-width: 60vw;
}
