.root {
  .likes {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 5px;

    .usersLikes {
      cursor: pointer;

      position: relative;

      display: flex;

      width: fit-content;
      padding: 0;

      background-color: transparent;
      border: none;

      img {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        &:nth-child(2) {
          margin-left: -12px;
        }

        &:nth-child(3) {
          margin-left: -12px;
        }
      }
    }
  }
}
