.root {
  .likes {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 5px;

    .usersLikes {
      cursor: pointer;

      position: relative;

      display: flex;

      width: 48px;
      padding: 0;

      background-color: transparent;
      border: none;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;

        &:nth-child(2) {
          position: absolute;
          left: 12px;
        }

        &:nth-child(3) {
          position: absolute;
          left: 24px;
        }
      }
    }
  }

  .date {
    color: var(--light-900);
  }
}
