.title {
  margin-bottom: 19px;
  line-height: 36px;
  text-align: center;
}

.subtitle {
  margin-bottom: 54px;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;

  text-decoration: none;
}

.boxImg {
  display: flex;
  justify-content: center;
}
