.createComment {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 12px 24px 12px 14px;

  .text {
    width: 100%;
  }

  .publishBtn {
    cursor: pointer;
    padding: 6px 12px;
    color: var(--accent-500);

    &:active {
      color: var(--accent-700);
    }
  }
}
