.box {
  position: relative;
  width: 492px;
  background-color: var(--dark-300);
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: var(--dark-100);
}

.boxTitleAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.boxContent {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: 72px 135px 108px;
}

.topButton {
  background-color: transparent;
}

.butoon {
  margin-top: 60px;
}

.customFileUpload {
  display: none;
}

.lable {
  padding: 6px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--accent-500);
}

.errorMessage {
  margin-top: 24px;
  padding: 6px 24px;

  color: var(--light-100);
  text-align: center;

  background-color: var(--danger-500);
}

.boxErrorMessage {
  margin: 0 24px;
}

.changeMargin {
  padding: 24px 135px 108px;
}

.buttonSave {
  position: absolute;
  bottom: 36px;
}

.photoContainer {
  position: relative;
  width: 332px;
  height: 340px;
  background-color: rgb(0 0 0 / 65%);
}

.photoProfileWithCircle {
  width: 100%;
  height: 100%;

  mask-image: radial-gradient(circle, black 65%, rgb(0 0 0 / 50%) 5%);
}

.photoProfileWithCircle::before {
  content: '';

  position: relative;

  width: 100%;
  height: 100%;

  opacity: 0.5;
  background-color: black;
}

.photoProfile {
  width: 222px;
  height: 228px;
  background-color: var(--dark-500);
  border-radius: 0;
}
