.sideBarBtnText {
  color: var(--light-900);

  &:hover {
    color: var(--accent-500);
  }
}

.sideBarBtn {
  color: var(--light-900);
  text-decoration: none;
}

.iconArrowRight {
  color: var(--light-900);
}
